td{
  width: 50px;
  height: 50px;
  border: 6px solid black;
  background: white;
  text-align: center;
  text-decoration-style: solid;
}

h1{
   text-align: center;
}
table{
  margin: auto;
  pointer-events: none;
}
.container1{
  background: black;
  width: 300px;
  height: 400px;
  margin: auto;
  padding-top: 60px;
  align-items: center;
}
.btncls{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.container2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  font-family: cursive;
  font-weight: bolder;

}
